.course-rate {
  color: var(--mainColor);
  .rate-number {
    margin: 0px;
    font-family: Barlow;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    color: rgba(237, 237, 237, 0.6);
  }
}
